{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}
<body class="flex flex-col min-h-screen">
    {{template "header" .}}

    <main class="flex-grow container mx-auto px-4 py-8">
        {{block "content" .}}
        {{end}}
    </main>

    {{template "footer" .}}

    <!-- JavaScript -->
    {{block "js" .}}
    {{end}}
</body>
</html>
{{end}}

